* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Albert Sans', sans-serif; }

a {
  text-decoration: none;
  color: white; }

h2 {
  color: #F7AD41;
  text-align: center;
  font-weight: 100;
  letter-spacing: 4px;
  margin-bottom: 40px; }

.titles {
  font-size: 30px;
  font-weight: 700;
  color: #575757;
  text-align: center;
  letter-spacing: 8px; }

.undertitles {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0px;
  margin-top: -25px;
  color: #838383; }

button {
  background-color: transparent;
  border: 2px solid #efefef;
  color: #F7AD41;
  border-radius: 30px;
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 20px; }

button:hover {
  background-color: #F7AD41;
  border: 2px solid #F7AD41;
  color: white; }

.header {
  width: 100%;
  overflow: hidden;
  background-color: #ececec;
  padding-top: 10px;
  padding-bottom: 10px; }

.header a {
  float: left;
  color: #414141;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  border-radius: 4px; }

.header a.logo {
  font-size: 25px;
  font-weight: bold; }

.header a:hover {
  background-color: #F7AD41;
  color: white; }

.header-menu {
  margin-top: 30px;
  margin-right: 200px;
  float: right; }

.logo {
  margin-left: 200px;
  align-items: center; }

.logo:hover {
  background-color: #ececec !important; }

footer {
  text-align: center;
  background-color: #414141;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%; }

.contenedorFooter {
  display: flex;
  gap: 100px;
  padding: 30px 20px;
  margin: auto; }

.sitio {
  flex-grow: 1; }

.sitio a {
  display: block;
  line-height: 1.8; }

.sitio a:hover {
  color: #F7AD41; }

.news {
  flex-grow: 1; }

.contacto {
  color: white;
  flex-grow: 1;
  line-height: 1.8; }

.copyright {
  background-color: black;
  color: #F7AD41;
  padding: 15px 0px;
  text-align: center;
  border-top: 1px solid gray; }

.footer div {
  text-align: center; }

.footer div a {
  display: block;
  text-decoration: none; }

.footer div a:hover {
  color: #F7AD41; }

.newsform {
  width: 400px;
  height: 45px;
  border-radius: 6px;
  text-align: center;
  border: none;
  margin-bottom: 30px;
  margin-top: 10px; }

.iglogo {
  margin-top: 30px;
  font-size: 20px; }

.iglogo i {
  font-size: 40px;
  margin: 10px;
  cursor: pointer;
  color: #F7AD41; }

.iglogo i:hover {
  color: white; }

.blackbox {
  padding-top: 10px;
  padding-bottom: 1px;
  width: 100%;
  background-color: black; }
  .blackbox__mensaje {
    margin-top: -1px;
    color: white;
    text-align: center;
    letter-spacing: 5px;
    font-size: 14px; }

/* Carrusel */
.carrusel {
  width: 100%;
  height: 30%; }

/* TARJETAS / CARD */
.container {
  max-width: 1800px;
  margin: 0 auto; }

.products {
  margin-top: 40px; }
  .products__grid {
    justify-items: center;
    margin-bottom: 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }

.wrapper {
  margin-left: auto;
  margin-right: auto; }

.parent {
  width: 100%;
  margin: 20px;
  height: 431px;
  width: 431px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 6px; }
  .parent:hover .child {
    transform: scale(1.3); }

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: all 3s; }

.bg-one {
  background-image: url(../assets/card-panaderia.jpg); }

.bg-two {
  background-image: url(../assets/card-pasteleria.jpg); }

.bg-three {
  background-image: url(../assets/card-banqueteria.jpg); }

.holder {
  margin-top: -120px;
  margin-left: 40px; }

.categoria {
  position: relative;
  font-weight: 400;
  letter-spacing: 4px;
  line-height: 1.5;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: 4px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  background-color: #00000063;
  color: #bebebe;
  border-color: #bebebe; }
  .categoria__description {
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    position: relative; }
  .categoria:hover {
    color: #F7AD41;
    background-color: #414141;
    border-color: #414141; }

/* Formulario contacto */
.contendorContacto {
  margin-top: 100px;
  margin-left: -20px;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.formularioContacto {
  background-color: #838383;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  width: 100%;
  max-width: 600px;
  border-radius: 6px;
  margin-bottom: 100px;
  margin-left: 20px; }
  .formularioContacto input, .formularioContacto textarea {
    font-family: "Albert Sans", sans-serif;
    font-weight: 400;
    border: 0;
    margin: 10px 0;
    padding-top: 10px;
    padding-left: 20px;
    outline: none;
    background-color: f5f5f5;
    font-size: 16; }

/* NOSOTROS */
.nosotros {
  width: 100x;
  height: 100vh;
  background-color: #838383;
  display: flex;
  justify-content: center;
  align-items: center; }

.nosotros .content img {
  height: auto;
  width: 400px;
  max-width: 100%; }

.content {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around; }

.text {
  width: 550px;
  max-width: 100%;
  padding: 0 10px; }

/* MEDIA QUERIES */
@media screen and (max-width: 1024px) {
  .header a {
    float: left; }
  .header-menu {
    margin-top: 30px;
    margin-right: 20px;
    float: right; }
  .logo {
    align-items: center;
    margin-left: 20px; }
  .logo:hover {
    background-color: #ececec !important; }
  .products__grid {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr); }
  .newsform {
    width: 300px;
    height: 45px;
    border-radius: 6px;
    text-align: center;
    border: none;
    margin-bottom: 30px;
    margin-top: 10px; } }

@media screen and (max-width: 768px) {
  .header a {
    float: none;
    display: block;
    text-align: left; }
  .header-menu {
    float: none; }
  .logo {
    margin-left: 280px;
    align-items: center; }
  .logo:hover {
    background-color: #ececec !important; }
  .carrusel {
    display: none; }
  .products__grid {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr); }
  .parent {
    height: 350px;
    width: 350px; }
  .nosotros {
    width: 100x;
    height: 110vh;
    background-color: #838383;
    display: flex;
    justify-content: center;
    align-items: center; }
  .footer {
    text-align: center;
    width: 100%;
    padding-top: 50px 15%;
    padding-bottom: 80px;
    background-color: #414141;
    width: 100%;
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    color: white; }
  .contenedorFooter {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 425px) {
  .logo {
    margin-left: 120px;
    align-items: center; }
  .logo:hover {
    background-color: #ececec !important; }
  .titles {
    font-size: 20px;
    font-weight: 700;
    color: #575757;
    text-align: center;
    letter-spacing: 8px; }
  .subtitles {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: -15px;
    color: #838383; }
  .products__grid {
    justify-items: center;
    grid-template-columns: repeat(1, 1fr); }
  .parent {
    height: 320px;
    width: 320px; } }

@media screen and (max-width: 375px) {
  .logo {
    margin-left: 70px;
    align-items: center; }
  .logo:hover {
    background-color: #ececec !important; }
  .titles {
    font-size: 20px;
    font-weight: 700;
    color: #575757;
    text-align: center;
    letter-spacing: 8px; }
  .subtitles {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: -15px;
    color: #838383; }
  .products__grid {
    justify-items: center;
    grid-template-columns: repeat(1, 1fr); }
  .parent {
    height: 320px;
    width: 320px; } }
