* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  h2 {
    color: #F7AD41;
    text-align: center;
    font-weight: 100;
    letter-spacing: 4px;
    margin-bottom: 40px;
  }
h3 {
  font-size: 30px;
  font-weight: 700;
  color: rgb(87, 87, 87);
  text-align: center;
  letter-spacing: 8px;
}

.titles {
    font-size: 30px;
    font-weight: 700;
    color: rgb(87, 87, 87);
    text-align: center;
    letter-spacing: 8px;
}

.undertitles {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0px;
    margin-top: -25px;
    color: rgb(131, 131, 131);

}

button {
    background-color: transparent;
    border:  2px solid #efefef;
    color: #F7AD41;
    border-radius: 30px;
    padding: 10px 30px;
    cursor: pointer;
    margin-top: 20px;
  
  }
  
  button:hover {
    background-color: #F7AD41;
    border:  2px solid #F7AD41;
    color: white;
  }
  